.pos .order {
    padding: 0;
}

.pos .order .orderline,
.pos .order .orderline.selected {
    background: grey;
}

.pos .order .orderline {
    border-bottom: 1px solid white;
    padding: 0 15px;
}

.kitchen-order-line {
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: grey;
}

.kitchen-order-line > div {
    overflow: auto;
    padding: 10px 0 !important;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
    padding: 0 10px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-12 {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 49%;
        max-width: 49%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
    .col-lg-2 {
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
    }
}

@media (min-width: 767px) {

    .kitchen-order-line > div:nth-child(1),
    .kitchen-order-line > div:nth-child(2) {
        border-right: 1px solid;
    }

}

.kitchen-order-line-price {
    padding-left: 10px;
    height: 100%;
}

.btn-kitchen-view {
    font-size: 18px !important;
    background: #6EC89B;
    color: white !important;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
}
