.o_list_table {

    table-layout: unset !important;

    thead th {
        max-width: 100% !important;
    }

    tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell) {
        text-overflow: unset !important;
    }

    td {
        padding: 5px 10px !important;
        vertical-align: middle !important;
    }

}


.kitchen-table thead {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.kitchen-table tbody {
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.kitchen-screen .page-item.active .page-link,
.bar-screen .page-item.active .page-link {
  background: #875A7B !important;
}

.kitchen-td-product:hover {
  background: #875A7B;
  color: white;
}

.hot-kitchen-bg {
  background: #ff0000;
}

.cold-kitchen-bg {
  background: #04dbfb;
}

.hot-kitchen-cl {
  background: #ff0000;
}

.cold-kitchen-cl {
  background: #04dbfb;
}

.kitchen-item {
    font-size: 16px;
    padding: 1.5rem;
    border-style: inset;
    text-align: center;
    font-weight: bold;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    align-items: center;
}

.kitchen-ready-item {
    color: white;
    background: #875A7B;
}

.kitchen-togo-item {
    color: white;
    background: #00A09D;
}
